# List third-party dependencies here, separated by newlines.
# All dependencies must be version-pinned, eg. requests==1.2.0
# See: https://pip.pypa.io/en/stable/user_guide/#requirements-files
aiohttp==3.6.3
defusedxml==0.5.0
datetime==4.3.0
python-dateutil==2.8.2
parameterized==0.8.1
freezegun==1.1.0
pytest==7.0.1