# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*      @rapid7/soar-backend

.snyk @rapid7/snyk-exceptions @rapid7/pd-code-owners
