# List third-party dependencies here, separated by newlines. 
# All dependencies must be version-pinned, eg. requests==1.2.0
# See: https://pip.pypa.io/en/stable/user_guide/#requirements-files
boto3==1.39.0
botocore==1.39.0
parameterized==0.8.1
