name: Lint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          pip install black==24.10.0
      - name: Lint
        run: |
          CHANGED_FILES=()
          for OUTPUT in $(git diff --no-commit-id --name-only --no-renames HEAD..origin/master)
          do
            if [[ -f ${OUTPUT} ]] && [[ ${OUTPUT} == *.py ]]
            then
              echo "${OUTPUT}"
              CHANGED_FILES+=( ${OUTPUT} )
            fi
          done
          
          if ! [[ ${#CHANGED_FILES[*]} == 0 ]]
          then
            echo ${CHANGED_FILES[*]} | xargs black --check --line-length 120
          else
            echo "No Python files were changed."
          fi
