name: PluginValidator

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'

    - name: Validate Plugin(s)
      run: |
        python -m pip install --upgrade pip setuptools
        curl -s https://${{ secrets.ci_packagecloud_token }}@packagecloud.io/install/repositories/rapid7/insightconnect_internal_python_tooling/script.python.sh | bash
        python -m pip install --user icon-integrations-ci --no-warn-script-location
        /home/runner/.local/bin/icon-ci pr
