name: PluginValidator

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'

    - name: Validate Plugin(s)
      env: 
        PACKAGE_CLOUD_TOKEN: ${{ secrets.CI_PACKAGECLOUD_TOKEN }}
        SOME_OTHER_VAR: A_TEST_TOKEN
      run: |
        python -m pip install --upgrade pip setuptools
        echo ${#PACKAGE_CLOUD_TOKEN}
        echo "https://${SOME_OTHER_VAR}@packagecloud.io/install/repositories/rapid7/insightconnect_internal_python_tooling/script.python.sh"
        curl -s "https://${PACKAGE_CLOUD_TOKEN}@packagecloud.io/install/repositories/rapid7/insightconnect_internal_python_tooling/script.python.sh" | bash
        python -m pip install --user icon-integrations-ci --no-warn-script-location
        export ICON_INTEGRATIONS_RELEASES_SLACK_WEBHOOK=${{ secrets.ICON_INTEGRATIONS_RELEASES_SLACK_WEBHOOK }}
        /home/runner/.local/bin/icon-ci pr