name: PluginValidator

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Validate Plugin(s)
      run: |
        python3 -m pip install --upgrade pip setuptools
        curl -s https://${{ secrets.ci_packagecloud_token }}@packagecloud.io/install/repositories/rapid7/insightconnect_internal_python_tooling/script.python.sh | bash
        python3 -m pip install --user icon-integrations-ci
        git diff --name-only --pretty=format:origin/master..origin/foss_ci
        /home/runner/.local/bin/icon-ci pr
        
