name: Static Code Analysis

on: [push]

jobs:
  prospector:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          pip install prospector[with_bandit]

      - name: Prospector
        run: |
          CHANGED_FILES=()
          for OUTPUT in $(git diff --no-commit-id --name-only -r HEAD..origin/master)
          do
            if ! [[ -d ${OUTPUT} ]] && [[ ${OUTPUT} == *.py ]]
            then
              CHANGED_FILES+=( ${OUTPUT} )
            fi
          done
          if ! [[ ${CHANGED_FILES[*]} == 0 ]]
          then
            prospector --profile prospector.yaml ${CHANGED_FILES[*]} --tool bandit --tool mccabe --tool pylint --tool pyflakes
            echo "Prospector ran on: "${CHANGED_FILES[*]}
          else
            echo "No python files changed, so prospector was not run. Dif received: "${OUTPUT[*]}
          fi
